.ArithmaSlide{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    position: absolute;
}

.transition-slide{
    will-change: transform, filter;
    transition-property: transform, filter;
    transition-delay: 0.75s;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}

.slide-move-up{
    transform: translateY(-100vh);
}

.slide-start-pos{
    transform: translateY(65vh);
}

.slide-start-dark{
    filter: brightness(0%);
}

#ArithmaPaginationContainer{
    width: fit-content;
    margin: 0 auto;
    top: calc(100vh - 4rem);
    position: relative;
    z-index: 999;
    pointer-events: none;
    touch-action: none;

    transition-duration: 500ms;
    transition-property: margin-top;
}

#ArithmaPaginationContainer span{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
}

.fillPaginationPoint{
    position: relative;
    border: 6px solid currentColor !important;
    transition: all 0.5s;
}